<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Hỗ trợ trực tuyến
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><a href="https://dashboard.tawk.to/">tawk.to</a></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <iframe src="https://dashboard.tawk.to/" style="width:100%;" id="ifmChatonline">
                <p>Trình duyệt của bạn không hỗ trợ iframe.<a href="https://dashboard.tawk.to/">tawk.to</a></p>
            </iframe>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<script>
    setTimeout(function () {
        $('#ifmChatonline').height($('.content-wrapper').css('min-height').replace('px', '') - 170);
    }, 500);

    $(window, ".wrapper").resize(function () {
        setTimeout(function () {
            $('#ifmChatonline').height($('.content-wrapper').css('min-height').replace('px', '') - 170);
        }, 500);
    });
</script>
