<section class="content-header">
    <h1>
        Khôi phục mật khẩu
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Tài khoản:{{user.UserName}}</h3>
        </div><!-- /.box-header -->
        <form class="form-horizontal" novalidate name="frmAddMenu" role="form" ng-submit="ResetPass()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-3 control-label">Mật khẩu mới</label>
                    <div class="col-md-9">
                        <input type="password" required class="form-control" name="NewPassword" id="NewPassword" ng-model="user.NewPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-md-3 control-label">Nhập lại mật khẩu mới</label>
                    <div class="col-md-9">
                        <input type="password" required class="form-control" ng-model="user.RePassword" id="RePassword" name="RePassword" pw-check='NewPassword'>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ng-click="cancel();" type="button" class="btn btn-default">Đóng</button>
                <button ng-disabled="frmAddMenu.$invalid || frmAddMenu.RePassword.$error.pwmatch" type="submit" class="btn btn-success pull-right">Lưu</button>
            </div>
        </form>
    </div>
</section>