<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a ui-sref="home" class="logo">
            Quản trị
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="javascript:" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{authentication.userName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <p>
                                    {{authentication.userName}}
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:" class="btn btn-default btn-flat" ng-click="logOut();">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Quản trị hệ thống</li>
                <li class="treeview">
                    <a href="javascript:">
                        <i class="fa fa-dashboard"></i> <span>Quản trị website</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="menu"><i class="fa fa-circle-o"></i>Menu</a></li>
                        <li><a ui-sref="news"><i class="fa fa-circle-o"></i>Bài viết host</a></li>
                        <li><a ui-sref="webInformation"><i class="fa fa-circle-o"></i>Thông tin trang chủ</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:">
                        <i class="fa fa-cubes"></i> <span>Danh mục dùng chung</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="dvtb"><i class="fa fa-circle-o"></i>Đơn vị tiêu biểu</a></li>
                        <li><a ui-sref="area"><i class="fa fa-circle-o"></i>Vùng</a></li>
                        <li><a ui-sref="region"><i class="fa fa-circle-o"></i>Khu vực</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a ui-sref="order">
                        <i class="fa fa-ticket "></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="application_users">
                        <i class="fa fa-user-plus"></i> <span>Quản lý tài khoản</span>
                    </a>
                </li>

                <li class="treeview" ng-if="authentication.userName == 'administrator'" >
                    <a href="javascript:">  
                        <i class="fa fa-pie-chart"></i>
                        <span>Hệ thống</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="application_groups"><i class="fa fa-circle-o"></i> Nhóm người dùng</a></li>
                        <li><a ui-sref="application_roles"><i class="fa fa-circle-o"></i> Quyền</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:">
                        <i class="fa fa-file-text-o "></i>
                        <span>Quản lý trang đơn</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="page"><i class="fa fa-circle-o"></i> Trang đơn</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div ui-view></div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2014-2016</strong>
    </footer>
</div>
<script src="/Assets/admin/js/app.js"></script>