.home-order, .login-home, .adv-home, .footer .container .projects .project-left  {
    border: 1px solid #999;
    padding:10px;


    background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fb-comments > span:first-child {
    width:100%!important;
} 
.fb-comments .fb_ltr {
     width:100%!important;
}
.fb_iframe_widget {display:block!important;}
.home-order input{
    margin-bottom:10px;
}

.home-order .form-group{
    margin-bottom:0px;
}
.adv-home {
    margin-top:10px;
}
.number {
    text-align:right;
}
.fb-page {
    /*float:right;*/
    padding-top:15px;
}
.feature-grids {
    padding-left:30px;
}
.footer > .container > .projects > .container {
    padding-right:45px!important;
}
.project-left {
    padding-bottom:10px!important;
}
.project-left > label {
    padding-left:10px;
    padding-top:5px;
    padding-bottom: 5px;
}
.footer  {
    padding-top:15px;
}
.camera_wrap .camera_pag .camera_pag_ul {
    display:none;
}
.camera_azure_skin {
    margin-bottom:15px!important;
}
.error {
    color:red;

}