<section class="content-header">
    <h1>
        Thêm mới bài viết
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <form class="form-horizontal" novalidate name="frmAddMenu" role="form" ng-submit="AddPost()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-2 control-label">Tên</label>
                    <div class="col-md-10">
                        <input type="text" required class="form-control" name="name" ng-change="ChangeName();" ng-model="post.Name">
                        <span ng-show="!frmAddMenu.name.$pristine && frmAddMenu.name.$invalid">Tên không được bỏ trống!</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">Tên không dấu</label>
                    <div class="col-md-10">
                        <input type="text" required class="form-control" ng-model="post.Alias" name="Alias">
                        <span ng-show="!frmAddMenu.Alias.$pristine && frmAddMenu.Alias.$invalid">Tên Alias không được bỏ trống!</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thuộc danh mục bài viết</label>
                    <div class="col-sm-10">
                        <select required class="form-control" name="groupID" ng-model="post.CategoryID" ng-options="option.ID as option.Name for option in Category"></select>
                        <input type="hidden" name="groupID" ng-model="post.CategoryID">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">Mô tả</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="post.Description" name="Alias">
                    </div>
                </div>



                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">Ảnh mô tả</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" ng-model="post.Image" name="url">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" type="button" ng-click="ChooseImage();">Chọn ảnh</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">Nội dung</label>
                    <div class="col-md-10">
                        <textarea ckeditor="ckeditorOption" class="form-control" name="Content" ng-model="post.Content" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">MetaKetword</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="post.MetaKeyword" name="url">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-md-2 control-label">MetaDescription</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="post.MetaDescription" name="url">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="post.Status" name="Status" ng-checked="post.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button ng-click="cancel();" type="button" class="btn btn-default">Đóng</button>
                <button ng-disabled="frmAddMenu.$invalid" type="submit" class="btn btn-success pull-right">Lưu</button>
            </div>
        </form>
    </div>
</section>
