@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
<div class="container">
    <div class="col-md-8" style="padding-bottom:10px;">
        <div class="">
            <div class="col-md-12 home-order">
                <!--Version 2-->
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-2">Người gửi</label>
                            <div class="col-md-3">
                                <input class="form-control text-phone-num number" type="text" placeholder="SĐT" id="SDTNguoiGui">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Địa chỉ" id="DiaChiNguoiGui">
                            </div>
                            <div class="col-md-3">
                                <select id="VungNguoiGui" class="form-control"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-2">Người nhận</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control text-phone-num number" id="SDTNguoiNhan" placeholder="SĐT">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="DiaChiNguoiNhan" placeholder="Địa chỉ">
                            </div>
                            <div class="col-md-3">
                                <select id="VungNguoiNhan" class="form-control"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped" id="OrderDetail" style="width:100%;">
                        <thead>
                            <tr>

                                <th style="width:45%;">
                                    Link hoặc tên sản phẩm
                                </th>
                                <th style="width:45%;">
                                    Ghi chú
                                </th>
                                <th style="width:10%;">

                                </th>
                                @*<th>Tổng phí thanh toán hộ</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100">
                                    <a href="#" data-toggle="modal" data-target="#modalAddDetail">+ Thêm hàng</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-md-10">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4 ">Tổng phí thanh toán hộ</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control number text-num" id="PhiThuHo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCreateOrder" }))
                            {
                                <input type="hidden" id="userName" value="@User.Identity.Name" />

                                <button class="btn btn-success" type="button" id="btnTaoDon">Tạo đơn</button>
                            }

                        }
                        else
                        {
                            <button class="btn btn-success" id="btnTaoDon">Tạo đơn</button>
                        }

                    </div>
                    <div class="col-md-12">
                        <p><b>Quy định và hướng dẫn sử dụng chi tiết bấm </b><a href="/bai-viet/quy-dinh-va-bao-gia.html">vào đây</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="login-home">
            @if (Request.IsAuthenticated)
            {
                <div class="form-group" style="text-align:center;">
                    <p>Xin chào @User.Identity.Name</p>
                    <p id="pTimeSystem"></p>

                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {

                        @Html.AntiForgeryToken();
                        <a href="/quan-tri-tai-khoan.html" style="padding-right:20px;">Quản trị</a>
                        <a id="btnLogout" href="#">Thoát</a>
                    }
                </div>

            }
            else
            {
                Html.RenderAction("Login", "Account");
            }
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="banner-slide">
                <ul>
                    <li>
                        <a href="hoibanle.com" target="_blank"><img src="/UploadedFiles/images/ban-le1_dzdh.jpg" /></a>
                    </li>
                    <li>
                        <a href="hoibanle.com" target="_blank"><img src="/UploadedFiles/images/ship9k.jpg" /></a>
                    </li>
                </ul>
            </div>
        }
@*<div class="adv-home">Khu vực dành cho quảng cáo</div>*@

</div>
<div class="clearfix"> </div>
</div>
@if (!Request.IsAuthenticated)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng kí tài khoản</h4>
                </div>
                <div class="modal-body">
                    @{Html.RenderAction("Register", "Account");}
                </div>
                <div class="modal-footer">
                    Đồng ý với các điều khoản đăng ký.
                </div>
            </div>
        </div>
    </div>
                        }

<div id="modalAddDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm hàng hóa</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Tên hàng</label>
                        <div class="col-md-9">
                            <input id="txtTenHang" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Link chi tiết</label>
                        <div class="col-md-9">
                            <input id="txtUrl" class="form-control" placeholder="Copy link sản phẩm vào đây" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Ghi chú</label>
                        <div class="col-md-9">
                            <input id="txtGhiChu" class="form-control" placeholder="Size, màu, số lượng, giờ giao ..." />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success pull-right" id="btnThemHang">Ghi</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#btnLogout').off("click").on("click", function (e) {
        e.preventDefault();
        $('#frmLogout').submit();
    });
    function getDate() {
        var today = new Date();
        var dd = today.getDate();
        var MM = today.getMonth(); //January is 0!
        var yyyy = today.getFullYear();
        var HH = today.getHours();
        var mm = today.getMinutes();
        var weekday = new Array(7);
        weekday[0] = "Chủ nhật";
        weekday[1] = "Thứ 2";
        weekday[2] = "Thứ 3";
        weekday[3] = "Thứ 4";
        weekday[4] = "Thứ 5";
        weekday[5] = "Thứ 6";
        weekday[6] = "Thứ 7";
        var n = weekday[today.getDay()];
        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        today = HH + ' giờ ' + mm + ' phút,' + n + ' ngày ' + dd + ' tháng ' + MM;
        $('#pTimeSystem').text(today);
    }
    getDate();
    setInterval(function () {
        getDate();
    }, 60000);
</script>

@section Script
{
    <script src="~/Assets/client/js/homePage.js"></script>
    <script>
        $(function () {
            $('.banner-slide').unslider({
                animation: 'fade', autoplay: true, arrows: false
            });
        });
    </script>

}



