@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
<div class="container">
    <div class="col-md-8 feature-grids">
        <div class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-5">SĐT người gửi</label>
                    <div class="col-md-7">
                        <input class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">Vùng</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">Địa chỉ liên hệ</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="pwd">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-12" for="email">Gửi đến</label>
                </div>

            </form>
        </div>
        <div class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-5" for="email">SĐT người nhận</label>
                    <div class="col-md-7">
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" for="pwd">Vùng</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" for="pwd">Địa chỉ liên hệ</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
            </form>
        </div>
        <div class="form-horizontal">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label col-md-5" for="pwd">Phí thu hộ</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th style="width:85px;">
                            Thao tác
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Ghi chú
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">
                            <a href="javascript:">Xóa</a>
                        </td>
                        <td>
                            Sản phẩm 1
                        </td>
                        <td>
                            Các thông tin liên quan
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="javascript:">Xóa</a>
                        </td>
                        <td>
                            Sản phẩm 2
                        </td>
                        <td>
                            Các thông tin liên quan
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100">
                            <a href="">+ Thêm hàng</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="col-md-offset-5">
                <button class="btn btn-success">Tạo đơn</button>
            </div>

        </div>
    </div>
    <div class="col-md-4 feature-grids">
        @if (Request.IsAuthenticated)
        {
            <p>Xin chào @User.Identity.Name</p>
            <p>Thời gian hệ thống</p>

            using (Html.BeginForm("Logout", "Account", FormMethod.Post,new { @id="frmLogout"}))
            {

                @Html.AntiForgeryToken();
                <a href="/quan-tri-tai-khoan.html">Quản trị</a>
                <a id="btnLogout" href="#">Thoát</a>
            }
        }
        else
        {
            Html.RenderAction("Login", "Account");
        }
        <div>Khu vực dành cho quảng cáo</div>
    </div>
    <div class="clearfix"> </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đăng kí tài khoản</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderAction("Register", "Account"); }
            </div>
            <div class="modal-footer">
                Đồng ý với các điều khoản đăng ký.
            </div>
        </div>

    </div>
</div>
<script>
    $('#btnLogout').off("click").on("click", function (e) {
        e.preventDefault();
        $('#frmLogout').submit();
    });
</script>



