@using ShipShop.Web.Models
@model PageViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12" style="padding-bottom:20px;">
    <div class="container">
        <div class="col-md-12">
            <div class="background">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>


<script>
    console.log(window.location.pathname);
    var path = window.location.pathname;
    $a = $('#bs-example-navbar-collapse-1 a[href="' + path + '"]');
    if ($a.length != 0) {
        $('#bs-example-navbar-collapse-1 li').each(function () {
            $(this).removeClass("active");
            $(this).find('a').addClass('link link--yaku active');
        });
        $('a[href="' + path + '"]').closest('li').addClass("active");
        $('a[href="' + path + '"]').removeClass('link link--yaku active');
    }
</script>
