<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="10"/>
  <add key="MaxPage" value="5"/>
  <add key="CommentFB" value="//connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v2.7&amp;appId=295059874188437"/>
  <add key="DataCommentFB" value="http://ship9k.com/trang-chu"/>
  <add key="SrcChatLine" value="https://embed.tawk.to/57c45622b817ab6642222349/default"/>

  <add key="GoogleAnalyticsID" value="UA-85304115-1"/>
</appSettings>