<connectionStrings>
  <clear />
  <add name="OnlineShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=abc@123;MultipleActiveResultSets=True" />
  <add name="OnlineShopConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="OnlineShopConnection3" providerName="System.Data.SqlClient" connectionString="workstation id=shipshop.mssql.somee.com;packet size=4096;user id=lovelady000;pwd=anhdaynhaem;data source=shipshop.mssql.somee.com;persist security info=False;initial catalog=shipshop" />
  <add name="OnlineShopConnection4" providerName="System.Data.SqlClient" connectionString="workstation id=webshiper.mssql.somee.com;packet size=4096;user id=lovelady0;pwd=12345678;data source=webshiper.mssql.somee.com;persist security info=False;initial catalog=webshiper" />
</connectionStrings>