<connectionStrings>
  <clear />
  <add name="OnlineShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=abc@123;MultipleActiveResultSets=True" />
  <add name="OnlineShopConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" /> 
 <add name="OnlineShopConnection-ship9k.com" providerName="System.Data.SqlClient" connectionString="Data Source=mssql173.dotvndns.vn;Initial Catalog=ship9k_com_dbWebShip9k;Integrated Security=False;User ID=ship9k_com_dbManager;Password=Ship9k.com;Connect Timeout=15;Encrypt=False;Packet Size=4096" />

</connectionStrings>