<connectionStrings>
  <clear />
  <add name="OnlineShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=abc@123;MultipleActiveResultSets=True" />
  <add name="OnlineShopConnection1" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WebShipHang;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
</connectionStrings>