<link href="../../../Assets/admin/css/TableFilter.css" rel="stylesheet" />
<script src="../../../Assets/admin/js/TableFilter.js"></script>
<section class="content-header">
    <h1>
        Quản lý đơn hàng
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách đơn hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-6 input-search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="keyword" placeholder="Tìm kiếm theo tên tài khoản hoặc tên shop">
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="search();" type="button">Tìm kiếm</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <select id="drdTypeOrOrder" ng-model="typeOfOrder" class="form-control" ng-change="changeTypeOrder();">
                        <option value="0">
                            Tất cả
                        </option>
                        <option value="1">
                            Người bán
                        </option>
                        <option value="2">
                            Người mua
                        </option>
                    </select>
                </div>
            </div>
            <!--<table class="table table-bordered">
                <tr>
                    <th style="width: 40px">
                        <a href="javascript:" ng-click="sortType = 'ID'; sortReverse = !sortReverse">
                            #
                            <span ng-show="sortType == 'ID' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'ID' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="javascript:" ng-click="sortType = 'CreatedDate'; sortReverse = !sortReverse">
                            Thời gian tạo
                            <span ng-show="sortType == 'CreatedDate' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'CreatedDate' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="javascript:" ng-click="sortType = 'UserName'; sortReverse = !sortReverse">
                            Tài khoản
                            <span ng-show="sortType == 'UserName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'UserName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Website hoặc tên shop</th>
                    <th>
                        <a href="javascript:" ng-click="sortType = 'ReceiverMobile'; sortReverse = !sortReverse">
                            SĐT người nhận
                            <span ng-show="sortType == 'ReceiverMobile' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'ReceiverMobile' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Địa chỉ</th>
                    <th>
                        <a href="javascript:" ng-click="sortType = 'ReceiverRegion.Name'; sortReverse = !sortReverse">
                            Vùng
                            <span ng-show="sortType == 'ReceiverRegion.Name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'ReceiverRegion.Name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>COD(VNĐ)</th>
                    <th>Ghi chú</th>
                    <th>Chi tiết</th>
                    <th style="width:85px;">Thao tác</th>
                </tr>
                <tr ng-repeat="item in order | orderBy:sortType:sortReverse">
                    <td style="text-align:center;">
                        {{item.ID}}
                    </td>
                    <td>
                        {{item.CreatedDate | date:'HH:mm dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{item.User.UserName}}
                    </td>
                    <td>
                        {{item.User.WebOrShopName}}
                    </td>
                    <td>
                        {{item.ReceiverMobile}}
                    </td>
                    <td>
                        {{item.ReceiverAddress}}
                    </td>
                    <td>
                        {{item.ReceiverRegion.Name}}
                    </td>
                    <td>
                        {{item.PayCOD}}
                    </td>
                    <td>
                        {{item.Note}}
                    </td>
                    <td>
                        <a ui-sref="orderDetail({orderID:item.ID})">Xem</a>
                    </td>
                    <td>
                        <button title="Hủy đơn hàng" class="btn btn-sm btn-primary" ng-click="cancelOrder(item.ID);" type="button"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="100">Tổng số bản ghi:{{totalCount}}</td>
                    </tr>
                </tfoot>
            </table>-->
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Hóa đơn</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th>#</th>
                            <th><input type="text" class="form-control" placeholder="Thời gian tạo" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Tài khoản" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Người nhận" disabled></th>
                            <!--<th style="width:135px;">Địa chỉ người nhận</th>-->
                            <th><input type="text" class="form-control" placeholder="Địa chỉ người nhận" disabled></th>
                            <th>Phí COD</th>
                            <th>Chi tiết</th>
                            <th ng-if="authentication.roles.indexOf(ROLES.ROLES_EDIT_ORDER) != -1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in order | orderBy:sortType:sortReverse">
                            <td style="text-align:center;">
                                {{item.ID}}
                            </td>
                            <td style="text-align:center;">
                                {{item.CreatedDate | date:'HH:mm dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{item.User.UserName}}<br />
                                {{item.User.WebOrShopName}}
                            </td>
                            <td>
                                {{item.ReceiverMobile}}
                            </td>
                            <td>
                                <p class="ReceiverAddress" title="{{item.ReceiverAddress}}" style="margin:0;">{{item.ReceiverAddress}}</p>
                                <p style="margin:0;">{{item.ReceiverRegion.Name}}</p>

                            </td>
 
                            <td style="text-align:right;">
                                {{item.PayCOD | currency:"":0}}
                            </td>
  
                            <td>
                                <a ui-sref="orderDetail({orderID:item.ID})">Xem</a>
                            </td>
                            <td ng-if="authentication.roles.indexOf(ROLES.ROLES_EDIT_ORDER) != -1">
                                <button ng-show="item.Status" type="button" title="Hủy đơn hàng" class="btn btn-sm btn-primary" ng-click="cancelOrder(item.ID,item.Status);"><i class="fa fa-times"></i></button>
                                <button ng-show="!item.Status" type="button" title="Hoàn tác đơn hàng" class="btn btn-sm btn-primary" ng-click="cancelOrder(item.ID,item.Status);"><i class="fa fa-exchange"></i></button>
                                <input type="hidden" id="status" value="{{item.Status}}"/>
                            </td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="text-align:left;">Tổng số bản ghi:{{totalCount}}</td>
                            <td> Tổng phí COD</td>
                            <td style="text-align:right;"> <p id="totalCOD">{{totalCOD | currency:"":0}}</p></td>
                            <td colspan="100"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getOrder(page)"></pager-directive>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
